<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrinho de Compras - Leviathan</title>
    <link rel="icon" href="/static/imagens/menu/logo.png">
    <link rel="stylesheet" href="/static/css/Carrinho.css">
</head>

<body>

    <header class="header_leviathan">
        <div class="header-container">
            <a href="/"><img src="/static/imagens/menu/logo.png" alt="Leviathan"></a>
            <nav class="nav-menu"></nav>
        </div>
    </header>

    <main class="main_carrinho_leviathan">
        <h1 class="titulo_pagina_leviathan">Seu Carrinho de Compras</h1>

        <div class="container_principal_carrinho_leviathan">

            <section class="carrinho-itens-lista">
                {% if itens %}
                    {% for item in itens %}
                    <div class="item-carrinho" data-id="{{ item.jogo_id }}">

                        <div class="item-imagem">
                            <img src="{{ item.imagem }}" alt="{{ item.nome }}">
                        </div>
                        
                        <div class="item-detalhes">
                            <h3>{{ item.nome }}</h3>
                            <p>Quantidade: {{ item.quantidade }}</p>
                        </div>

                        <div class="item-preco">~
                            R$ {{ '%.2f'|format(item.preco * item.quantidade) }}
                        </div>

                        <form action="/remover_item/{{ item.jogo_id }}" method="POST">
                            <button class="btn-remover-item" type="submit">Remover</button>
                        </form>

                    </div>
                    {% endfor %}
                {% else %}
                    <p>Seu carrinho está vazio.</p>
                {% endif %}
            </section>

            <aside class="resumo-pedido">
                <h2>Resumo do Pedido</h2>
                <div class="resumo-linha">
                    <span>Subtotal:</span>
                    <span id="subtotal">R$ {{ '%.2f'|format(subtotal) }}</span>
                </div>
                <div class="resumo-linha">
                    <span>Frete:</span>
                    <span id="frete">GRÁTIS</span>
                </div>
                <div class="resumo-linha total-final">
                    <strong>Total:</strong>
                    <span id="total-final">R$ {{ '%.2f'|format(subtotal) }}</span>               
                 </div>

                <a href="/Finalizar" class="btn-checkout">Finalizar Compra</a>
            </aside>
        </div>

        <div class="acoes_rodape_carrinho">
            <a href="/" class="btn_continuar_comprando_leviathan">Continuar Comprando</a>
        </div>
    </main>

    <footer class="footer_leviathan">
        <p class="copyright_leviathan">© 2025 Leviathan. Todos os direitos reservados.</p>
    </footer>

</body>
</html>
