<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Desejos - Leviathan</title>
    <link rel="icon" href="{{ url_for('static', filename='imagens/menu/logo.png') }}">
    <link rel="stylesheet" href="../static/css/Desejo.css">
</head>

<body>

    <video class="video-background" autoplay loop muted>
        <source src="../static/imagens/listadesejo/minecraft.mp4" type="video/mp4">
    </video>

    <header class="header_leviathan">
        <div class="header-container">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='imagens/menu/logo.png') }}" alt="Logo Leviathan">
            </a>
        </div>
    </header>

    <main class="main_lista_desejos_leviathan">

        <h1 class="titulo_pagina_leviathan">Sua Lista de Desejos</h1>

        <div class="container_itens_desejos_leviathan">
            {% if itens %}
                {% for item in itens %}
                <div class="item_desejo_leviathan" data-id="{{ item.jogo_id }}">

                    <div class="item_imagem">
                        <img src="{{ item.imagem }}" alt="{{ item.nome }}">
                    </div>

                    <div class="item_detalhes_leviathan">
                        <h3 class="item_nome_leviathan">{{ item.nome }}</h3>
                        <p>Quantidade: {{ item.quantidade }}</p>
                        <span class="item_preco_atual_leviathan">R$ {{ "%.2f"|format(item.preco) }}</span>
                    </div>


                    <form action="/remover_item_lista/{{ item.jogo_id }}" method="POST">
                        <button class="botao-remover-item" type="submit">Remover</button>
                    </form>

                </div>
                {% endfor %}
            {% else %}
                <p>Sua lista de desejos está vazia.</p>
            {% endif %}
        </div>

        <div class="botoes-limpar_continuar">
            <a href="{{ url_for('home') }}" class="btn_continuar_comprando_leviathan">
                Continuar Comprando
            </a>

            <form action="/limpar_lista" method="post">
                <button class="botao-limpar-lista" type="submit">Limpar lista</button>
            </form>
        </div>
    </main>

    <footer class="footer_leviathan">
        <p class="copyright_leviathan">© 2025 Leviathan. Todos os direitos reservados.</p>
    </footer>

     <script src="../static/js/listadesejo.js"></script>

</body>

</html>