<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/imagens/elden ring/icon elden ring.png">
    <title>Leviathan - Elden Ring</title>
    <link rel="stylesheet" href="/static/css/Elder.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>

    <div class="video-background-container">
        <video autoplay muted loop id="background-video">
            <source src="video" type="video/mp4"> 
        </video>
        <div class="video-overlay"></div>
    </div>

    <div class="page-content-wrapper">
        <!--Header com todos os codigos do site-->
    <header class="header">

        <!--Divisão da esquerda-->
        <div class="header-left">
            <a href="../Menu/index.html" class="logo-link">
                <img src="/static/imagens/menu/logo.png" alt="Logo do Site" class="logo-site">
            </a>
        </div>
        
        <!--Dvisão central-->
        <div class="header-center">
            <nav class="secondary-nav">
                <a href="../Menu/Descobrir/index.html">Descobrir</a>
                <span class="daimond">&diams;</span>
                <a href="#">Suporte</a>
            </nav>
        </div>

        <!--Divisão da direita-->
        <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Pesquisar loja">
                <button><i class="fas fa-search"></i></button>
            </div>
            <div class="auth-buttons">
                <a href="../Menu/Entrar e cadastrar/Entrar.html" class="btn-auth">Entrar</a>
                <a href="../Menu/Entrar e cadastrar/Cadastrar.html" class="btn-auth btn-auth-primary">Cadastrar</a>
            </div>
        </div>
        
    </header>

        <main class="game-page-content">
            <section class="game-info-section">
                <div class="game-details">
                    <h1>Elden Ring</h1>
                    <div class="game-rating">
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <span class="rating-value">4.5</span>
                        <i class="fas fa-gamepad rating-icon"></i>
                    </div>
                    <nav class="game-tabs">
                        <a href="#overview-wrapper" class="tab-item active" data-tab="overview">Visão Geral</a>
                        <a href="#genres-content" class="tab-item" data-tab="genres">Gêneros</a>
                    </nav>
                </div>

                <div class="tab-content-container">
                    <div id="overview-wrapper" class="tab-content active">
                        <div class="game-media-carousel">
                            <div class="main-media">
                                <img src="./imagen/pt-br-fnfig-36-00-c1s4-egs-launcher-keyart-og-blade-2560x1440-2560x1440-6e8e2548501d 1.png.webp" alt="Fortnite Main Image" id="mainGameImage">
                            </div>
                            <div class="thumbnails">
                                <button class="arrow left-arrow"><i class="fas fa-chevron-left"></i></button>
                                <div class="thumbnail-items">
                                    <img src="/static/imagens/elden ring/comp 1.webp" alt="Thumbnail Fortnite Raiz" class="thumbnail active" data-image="pt-br-fnfig-36-00-c1s4-egs-launcher-keyart-og-blade-2560x1440-2560x1440-6e8e2548501d 1.png">
                                    <img src="/static/imagens/elden ring/comp 2.jpeg" alt="Thumbnail Landscape Comp" class="thumbnail" data-image="landscape_comp.jpeg">
                                    <img src="/static/imagens/elden ring/comp 3.jpeg" alt="Thumbnail Landscape Comp 1" class="thumbnail" data-image="landscape_comp (1).jpeg">
                                    <img src="/static/imagens/elden ring/comp 4.webp" alt="Thumbnail Landscape Comp 2" class="thumbnail" data-image="landscape_comp (2).jpeg">
                                </div>
                                <button class="arrow right-arrow"><i class="fas fa-chevron-right"></i></button>
                            </div>
                        </div>

                        <div class="overview-text-section">
                        </div>
                    </div>

                    <div id="genres-content" class="tab-content">
                        <h2>Gêneros Principais</h2>
                        <ul>
                            <li>Elden Ring é um jogo eletrônico de RPG de ação em terceira pessoa, desenvolvido pela FromSoftware e publicado pela Bandai Namco Entertainment. O jogo é um projeto colaborativo entre o diretor Hidetaka Miyazaki e o romancista de fantasia George R. R. Martin.</li>
                            
                        </ul>
                        <h3>Sub-Gêneros e Elementos:</h3>
                        <ul>
                            <li>Elden Ring é um jogo do gênero RPG de ação (Ação-RPG), mas também é considerado um soulslike, um subgênero que se originou com jogos como Demon's Souls e Dark Souls, todos desenvolvidos pela FromSoftware. Além disso, Elden Ring apresenta elementos de mundo aberto, o que o diferencia de outros jogos soulslike. 
                            </li>

                        </ul>
                    </div>
                </div>
            </section>

            <aside class="game-sidebar">
                <div class="sidebar-details">
                    <p>Desenvolvedor: <span>FromSoftware</span></p>
                    <p>Editora: <span>FromSoftware, Bandai Namco Entertainment, Namco Bandai Games America Inc.</span></p>
                    <p>Data de Lançamento: <span>25/02/22</span></p>
                </div>
                <div class="age-rating-box">
                    <div class="age-number">16</div>
                    <div class="age-text">
                        <p>16 Anos</p>
                        <small>Violência</small>
                    </div>
                </div>
                <div class="buy-options">
                    <button class="btn btn-primary">Obter</button>
                    <button class="btn btn-secondary">Adicionar ao Carrinho</button>
                    <button class="btn btn-secondary">Para a lista de Desejos</button>
                </div>
            </aside>
        </main>

        <footer class="footer">
            <div class="footer-columns">
                <div class="footer-col">
                    <h4>Sobre Nós</h4>
                    <ul>
                        <li><a href="#">Informações</a></li>
                        <li><a href="#">Contatos</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Suporte</h4>
                    <ul>
                        <li><a href="#">Chat</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Início</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="footer-col footer-info">
                    <h4>Informações</h4>
                    <p>A Leviathan é uma loja online especializada na venda de jogos digitais. Oferecemos variedade, segurança e preços acessíveis para todos os gamers. Nosso objetivo é ser referência no mercado.</p>
                </div>
            </div>
            <div class="social-media">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </footer>
    </div>

    <script src="/static/js/Elder.js"></script>

</body>

</html>
