<!DOCTYPE html>
<html lang="pt-br">

<head>
    <!--Parte principal que monta o codigo-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Titulo da pagina-->
    <title>Leviathan</title>

    <!--Icone que fica ao lado do nome da pagina-->
    <link rel="icon" href="../static/imagens/menu/logo.png">

    <!--link com o stylemain.css para o CSS do site-->
    <link rel="stylesheet" href="../static/css/stylemain.css">

</head>


<body>
    <!--Header com todos os codigos do site-->
    <header class="header">

        <!--Divisão da esquerda-->
        <div class="header-left">
            <a href="#" class="logo-link">
                <img src="../static/imagens/menu/logo.png" alt="Logo do Site" class="logo-site">
            </a>
            <nav class="main-nav">

            </nav>
        </div>

        <!--Dvisão central-->
        <div class="header-center">
            <nav class="secondary-nav">
                <a href="/carrinho">Carrinho</a>
                <span class="daimond">&diams;</span>
                <a href="/jogo/Desejo">Lista de Desejos</a>
                <span class="daimond">&diams;</span>
                <a href="/jogo/sobre">Sobre</a>
            </nav>
        </div>

        <!--Divisão da direita-->
        <div class="header-right">
            <div class="search-bar">
                <input type="text" placeholder="Pesquisar loja">
                <button><i class="fas fa-search"></i></button>
            </div>
            
            <div class="auth-buttons">
                {% if usuario %}
                    <form id="formFoto" action="/upload_foto" method="POST" enctype="multipart/form-data">
                        <img id="imagemEscolhida" class="foto-perfil" src="{{ usuario.foto_perfil if usuario.foto_perfil else '../static/imagens/fotos_perfil/user.webp'}}" alt="Clique para escolher">
                        <input type="file" id="inputImagem" name="foto" accept="image/*" style="display:none">
                    </form>


                    <a href="/logout" class="btn-auth">Sair</a>
                {% else %}
                    <!-- Usuário não logado → mostra entrar/cadastrar -->
                    <a href="/Entrar" class="btn-auth">Entrar</a>
                    <a href="/Cadastrar" class="btn-auth btn-auth-primary">Cadastrar</a>
                {% endif %}
            </div>
        </div>

    </header>

    <!--Container de jogos principais e lista de jogos-->
    <section class="jogos">

        <!--Divisão do jogo em destaque aberto-->
        <div class="jogo_principal">
            <a href="/jogo/skul"><img src="../static/imagens/menu/Nome do jogo Skul.png" alt="nome.png"
                    width="300px" class="nome_jogo_skul"></a>

            <p class="texto_skul">Aproveite e economize com nossas <br>promoções</p>

            <p class="texto_skul2">Tente uns dos nossos sucessos!</p>

            <button class="botao_economizar"><a class="link_economizar" href="/jogo/skul">Economize
                    agora</a></button>

            <button class="botao_desejos"><a class="link_desejos" href="#">Lista de desejos</a></button>
        </div>

        <!--Video do jogo em destaque aberto-->
        <div class="video_jogo_principal">
            <video autoplay muted loop id="Video trailer - Skul the Hero Slayer" width="800px">
                <source src="../static/imagens/menu/Video trailer - Skul the Hero Slayer.mp4">
            </video>

        </div>

        <!--Lista de jogos do ao lado do jogo em destaque aberto-->
        <div class="jogos_ao_lado">

            <!--Jogo Skul: The Hero Slayer-->
            <div class="skul">
                <a href="/jogo/skul">
                    <img src="../static/imagens/menu/Skul.png" alt="skul.png" width="110px">
                </a>
                <a class="nome_skul" href="/jogo/skul">Skul: The Hero Slayer</a>
            </div>

            <!--Jogo Spider-man-->
            <div class="spider-man">
                <a href="/jogo/spider">
                    <img src="../static/imagens/menu/Spider Man.png" alt="spider.png" width="110px">
                </a>
                <a class="nome_spider" href="/jogo/spider">Marvel's Spider-Man</a>
            </div>

            <!--Jogo Elden Ring-->
            <div class="elden">
                <a href="/jogo/Elder">
                    <img src="../static/imagens/menu/Elden Ring.jpg" alt="elden ring.png" width="110px">
                </a>
                <a class="nome_elden" href="/jogo/Elder">ELDEN RING</a>
            </div>

            <!--Jogo Batman Arkhan Knight-->
            <div class="batman">
                <a href="/jogo/batman">
                    <img src="../static/imagens/menu/Batman_Arkham_Knight_Capa.jpg" alt="roblox.png" width="100px">
                </a>
                <a class="nome_roblox" href="/jogo/batman">Batman Arkhan Night </a>
            </div>

        </div>

    </section>

    <!--parte dos jogos principais que liga a loja geral-->
    <div class="nossos_principais">
        <p>Nossos Principais Jogos</p>

    </div>

    <!--Jogos principais-->
    <section class="jogos_principais">

        <!--jogo god of war-->
        <div class="god_of_war">
            <a href="/jogo/God">
                <img src="../static/imagens/menu/God of War.png" alt="god of war.png" width="200px">
            </a>

            <a class="nome_do_jogo" href="/jogo/God"><br>God Of War <br>Ragnarok</a>

            <p class="preco">R$ 199,92</p>
        </div>

        <!--jogo fortnite-->
        <div class="fortnite">
            <a href="/jogo/Fortnite">
                <img src="../static/imagens/menu/Fortnite.png" alt="fortnite.png" width="180px">
            </a>
            <a class="nome_do_jogo" href="/jogo/Fortnite"><br>Fortnite</a>
            <p class="preco">Gratis</p>
        </div>

        <!--Jogo Rocket League-->
        <div class="rocket_league">
            <a href="/jogo/Rocket">
                <img src="../static/imagens/menu/Rocket League.png" alt="rocket league.png" width="200px">
            </a>
            <a class="nome_do_jogo" href="/jogo/Rocket"><br>Rocket <br>League</a>
            <p class="preco">Gratis</p>
        </div>

        <!--Jogo Red Dead Redemption\-->
        <div class="red_dead">
            <a href="/jogo/Red">
                <img src="../static/imagens/menu/Red Dead Redemption 2.png" alt="red dead redemption 2.png"
                    width="200px">
            </a>
            <a class="nome_do_jogo" href="/jogo/Red"><br>Red Dead <br>Redemption <br>2</a>
            <p class="preco">R$ 220,00</p>
        </div>

        <!--Jogo Fifa-->
        <div class="fifa">
            <a href="/jogo/fc2025">
                <img src="../static/imagens/menu/FIFA 2025.png" alt="fifa 2025.png" width="200px">
            </a>
            <a class="nome_do_jogo" href="/jogo/fc2025"><br>Edição <br>Standard do <br>EA SPORTS FC™ 25</a>
            <p class="preco">R$ 89,70</p>
        </div>

    </section>



    <!--parte dos destaques-->
    <section class="parte_destaque">

        <!--parte dos destaques-->
        <div class="destaques">

            <!--Parte do titulo e do botao ver mais-->
            <div class="estrela">
                <svg class="icone_estrela" width="65" height="65" viewbox="0 0 24 24"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon points="12 2 15 8.5 22 9 17 14 18.5 21 12 17.5 5.5 21 7 14 2 9 9 8.5 12 2" />
                </svg>

                <p class="titulo_destaque">Destaques</p>
            </div>

        </div>

        <!--Jogos nos destaques-->
        <div class="jogos_destaques">

            <!--Jogo NBA-->
            <div class="nba_2k25">
                <a href="/jogo/nba">
                    <img src="../static/imagens/menu/NBA 2K25.jpg" alt="nba 2k25.png" width="400px" class="imagem_nba">
                </a>

                <p class="disponivel_embreve">Disponivel</p>

                <div class="nome_nba">
                    <a class="nome_jogos" href="/jogo/nba">NBA 2k25</a>
                </div>

                <div class="preco_destaque">
                    <p class="porcento">-70%</p>
                    <p class="preco_antes">R$ 300,19*</p>
                    <p class="preco_agr">R$ 150,00</p>
                    <p class="data">18 de Nov As 12:00</p>
                </div>
            </div>

            <!--Jogo Valorant-->
            <div class="valorant">
                <a href="/jogo/Valorant">
                    <img src="../static/imagens/menu/valorant.webp" alt="valorant.png" width="400px"
                        class="imagem_death">
                </a>

                <p class="disponivel_embreve">Disponivel</p>

                <div class="nome_vava">
                    <a class="nome_jogos" href="/jogo/Valorant">Valorant</a>
                </div>

                <div class="preco_destaque">
                    <p class="preco_agr">Gratis</p>
                </div>
            </div>

            <!--Jogo Two Point Hospital-->
            <div class="gta6">
                <a href="#">
                    <img src="../static/imagens/menu/gta 6.webp" alt="two point hospital.png" class="imagem_gta">
                </a>

                <p class="embreve">Em Breve</p>


                <div class="nome_gta">
                    <a class="nome_jogos" href="#">Grand Theft Auto 6</a>
                </div>

                <div class="preco_destaque">
                    <p class="preco_agr">Gratis</p>
                    <p class="data">- 2026</p>
                </div>

            </div>

        </div>
    </section>



    <!--parte das novidades-->
    <section class="container_novidade">
        <h2 class="novidades">Novidades</h2>

        <!--Conteudos novos!-->
        <div class="conteudo_novidade">

            <!--Novidade 1-->
            <div class="snopdog">
                <a href="/jogo/Fortnite"> <img src="..//static/imagens/menu/SnopDog.png" alt="Fortnite.png"
                        width="420px" class="imagens-animada"></a>



                <h2>Fortnite</h2>

                <p>De Long Beach para o mundo. É hora <br>de soltar os cachorros com o ícone <br>Musical Snoop Dogg!</p>
            </div>

            <!--novidade 2-->
            <div class="jogo_novos">
                <a href=""><img src="../static/imagens/menu/novos jogos disponiveis.webp" alt="jogos novos.png"
                        width="420px" class="imagens-animada"></a>

                <a href="">Confira proximos lançamentos</a>


                <p>Aqui você vera jogos que vão ser lançados em <br>breve. Fique por dentro de todos eles aqui.</p>
            </div>

            <!--novidade 3-->
            <div class="jogos_promocao">
                <a href=""><img src="../static/imagens/menu/jogos na promoção.webp" alt="jogos da promoção.png"
                        width="420px" class="imagens-animada"></a>



                <a href="">Promoções</a>

                <p>Confira nossas promoções imperdiveis, <br>com preços unicos e exclusivos</p>
            </div>

        </div>
    </section>


    <footer class="footer">
        <div class="footer-columns">
            <div class="footer-col">
                <h4>Sobre Nós</h4>
                <ul>
                    <li><a href="#">Informações</a></li>
                    <li><a href="#">Contatos</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Suporte</h4>
                <ul>
                    <li><a href="#">Chat</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Início</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Downloads</a></li>
                </ul>
            </div>
            <div class="footer-col footer-info">
                <h4>Informações</h4>
                <p>A Leviathan é uma loja online especializada na venda de jogos digitais. Oferecemos variedade,
                    segurança e preços acessíveis para todos os gamers. Nosso objetivo é ser referência no mercado.</p>
            </div>
        </div>
        <div class="social-media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </footer>

    <script src="../static/js/imagemperfil.js"></script>


</body>

</html>