<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Leviathan</title>
    <link rel="stylesheet" href="../static/css/sobre.css">
    <link rel="icon" href="../static/imagens/menu/logo.png">

</head>
<body>

    <header class="header">

        <!--Divisão da esquerda-->
        <div class="header-left">
            <a href="../templates/index.html" class="logo-link">
                <img src="../static/imagens/menu/logo.png" alt="Logo do Site" class="logo-site">
            </a>
        </div>
        
        <!--Dvisão central-->
        <div class="header-center">
            <nav class="secondary-nav">
            </nav>
        </div>
    </header>

    <section class="container-animado">
        <h1>SOBRE NÓS</h1>

        <div class="linha-animada">
            <hr class="left-line">
            <span class="star-symbol">&diams;</span>
            <hr class="right-line">
        </div>

        <div class="escrita-sobre">
            <p>
                Nós somos a Leviathan <br><br>

                Um site desenvolvido especialmente para você poder adquirir seus jogos de forma mais rápida possivel. Uma maneira segura e acessivel que você tem de garantir que seus precisos e muito memoraveis jogos estarão em suas mãos. <br><br>

                Como um site desenvolvido justamente para isso, nós queremos uma melhor segurança, atendimento e experiência que você possa <br> ter. Ainda estamos em diversos processos de aperfeiçoamento, e como todo mundo seus feedback são EXTREMAMENTES importântes para <br> uma melhor experiência de todos na nossa comunidade. <br>
                Mesmo que não seja algo de tão grande ainda, todos importa. <br><br>

                Dito isso, caso queira deixar seu feedback, sinta-se a vontade para nos enviar sua sugestão. <span>&dArr;</span>

                <br><br>
                <button class="sugestao"><a href="#">Sugestões</a></button>

            </p>
        </div>

    </section>

    <section class="mission-valuer">

        <div class="mission">
            <h2 class="title-mission">Missões</h2>

            <ul>
                <li>
                    Focar em uma compra simples e bem pratica, sem muitas frescuras mas com total segurança dos nossos clientes
                </li>
                
                <li>
                    Mostra ao publico o grande e vasto cardapio de jogos que temos em nosso site;
                </li>

                <li>
                    Proporcionar uma experiência unica, otimizade e magnifica para nossos usuarios;
                </li>

                <li>
                    Mostra a pessoas que nada pode impedir elas de usarem nosso site, com toda a acessibilidade que ele tem.
                </li>
            </ul>
        </div>

        <hr class="line-division">

        <div class="valuer">
            <h2 class="title-valuer">Valores</h2>

            <ul class="valuer-descrition">
                <li>
                    Temos em mente que todos devem ter acesso ao nosso site, não só de usabilidade como tambem de gostar visualmente. <br> Nosso objetivo é seguir com ele e garantir uma experiência incrivel para todos que o visitam, falarem muito bem dele, não por ser um site com animações, <br>diferenças gigantes, mas por ser um site que seja acessivel, seja unico na forma de usar e fazer nossos meros clientes felizes. <br>
                </li>
                <li>
                    Agradeçemos a preferencia por usar nosso site, deixe seu feedback para que cada vez mais <br> possamos ajudar nossos clientes a sair com um jogo e um sorisso no rosto! <span>&hearts;	</span>
                </li>
            </ul>
        </div>
    </section>  
    
    <section class="redes-sociais">
        <h2>Aqui estão nossas redes para sugestões ou reclamações do site</h2>

        <div class="midias">
            <button><img src="../imagem/icon face.png" alt="" width="100px"></button>

            <button class="zap"><img src="../imagem/icon zap.png" alt="" width="135px"></button>

            <button><img src="../imagem/insta.png" alt="" width="100px"></button>
        </div>
    </section>
</body>
</html>