body {
    margin: 0;
    background-color: #000;
  }

  .header {
    background-color: #1e1f22;
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    color: #80b3ff;
    font-family: sans-serif;
  }

  .header-left, .header-right {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  .header-left i, .header-right i {
    font-size: 20px;
    cursor: pointer;
  }

  .header-left span {
    font-size: 16px;
    font-weight: 500;
  }

  .logo {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #80b3ff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .logo i {
    color: #80b3ff;
  }